<%# 従業者ログイン時navigation %>

<ul class="navbar-nav ml-auto">
    <li class="nav-item">
    <%# 打刻 %>
    <% if current_user.user_projects.empty? %>
        <a class="nav-link" href="#">打刻</a>
    <% else %>
        <a class="nav-link" href="/user_projects/<%= current_user.user_projects.first.id %>/attendance_tracks/top" data-turbolinks="false">打刻</a>
    <% end %>
    </li>
    <%# 実績 %>
    <li class="nav-item">
        <a class="nav-link" href="#">実績</a>
    </li>
    <%# 申請 %>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        申請
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
    </li>
    <%# 案件一覧 %>
    <li class="nav-item">
        <a class="nav-link" href="/companies/<%= current_user.company.id %>/projects">案件一覧</a>
    </li>    
    <%# ログアウト %>
    <li class="nav-item">
        <%= link_to "ログアウト", destroy_user_session_path, {method: "delete", class: "nav-link"} %>
    </li>
</ul>