<%# 未ログイン時navigation %>

<ul class="navbar-nav ml-auto">
    <li class="nav-item">
    <a class="nav-link" href="/users/sign_up">アカウント作成</a>
    </li>
    <li class="nav-item">
    <a class="nav-link" href="/users/sign_in">ログイン</a>
    </li>
    <li class="nav-item">
    <a class="nav-link" href="/companies/employee_login">従業者ログイン</a>
    </li>
    <li class="nav-item">
    <a class="nav-link" href="/companies/admin_login">管理者ログイン</a>
    </li>          
</ul>